<li id="tree<%= item.id %>" name="<%= item.parent_id %>">
  <% if item.task %>
    <% if item.complete %>
	<div class="listTask tick" title="<%= item.title %> is complete"></div>
	<% else %>
	<div class="listTask" title="<%= item.title %> is incomplete"></div>
	<% end %>  
  <% end %>  
  <% unless item.triggers.empty? %>
    <div class="listEmail" title="<%= item.title %> has email reminders set"></div>
  <% end %>  
  <% if item.id == params[:id].to_i %>
    <b><%= link_to h(item.title), :controller => 'items', :action => 'show', :id => item.id %></b>
  <% else %>
    <%= link_to h(item.title), :controller => 'items', :action => 'show', :id => item.id %>
  <% end %>
  <% if params[:id].to_i != 0 && item.root.id == Item.find(params[:id].to_i).root.id && !item.children.empty? %>
    <ul><%= render :partial => 'items/item', :collection => item.children %></ul>
  <% end %>  
</li>