<h3>Editing Item</h3>

<%= form_for(@item, html: {class: "formCSS"}) do |f| %>
  <%= f.label :title, 'Title:' %>
  <%= f.text_field :title, required: true, maxlength: 100 %>
  <%= f.label :body, 'Body:' %>
  <%= f.text_area :body, required: true, :placeholder => 'HTML tags are allowed!' %>
  <%= f.label :task, 'Set As Task?' %>
  <%= f.check_box :task %>
  
  <% if @item.task %>
  <%= f.label :complete, 'Complete Task?', class: "complete" %>
  <%= f.check_box :complete %> <!-- needs fixing, doesnt update database -->
  <% end %>
  
  <%= hidden_field_tag 'item[parent_id]', @item.parent_id %>
  <div class = "formOptions">
    <%= f.submit "Confirm Item", class: "button" %> 
	<%= f.submit "Reset", type: "reset", class: "button" %>
	<input type="button" class="button" value="Cancel" onClick="history.go(-1); return true;" />
  </div>
<% end %>