<p id = "currentItemOptions">
  <%= link_to "+ Add Item (To Root)", new_item_path %> <!-- set at the bottom of this page i guess -->
</p>

<form>
  <% @items.each do |child| %>
<h2><% if child.task %><input type="checkbox" class="itemCheckbox"<% if child.complete %> checked<% end %> disabled/><% end %><%= link_to child.title, child %></h2>
  <div class = "itemOptions">
    <%= link_to '', edit_item_path(child), class: 'edit itemEdit', title: 'Edit' %>
  <a class = "set-email" href = "#" title = "Set Email Reminder" name="<%= child.id %>"></a> <!--todo umm do we need to put a hidden form for every child item? im sure theres a better way-->
  <%= link_to '', item_path(child.id), method: :delete, data: { confirm: 'Are you sure you want to delete this item?' }, class: 'delete itemDelete' %>
  </div>
  <p>
  <% #raw() needed to display html %>
  <%= raw(child.body) %>
  </p>
  <% child.triggers.each do |trigger| %>
  <p class = "emailReminder">Email to <% trigger.emails.each do |email| %><%= email.email %> at <%= trigger.date_trigger %></p>
  <div class = "emailOptions">
  <a class = "edit emailEdit" href = "#" title = "Edit"></a>
  <a class = "delete emailDelete" href = "#" title = "Delete"></a>
  </div>
  <% end %>
  <% end %>
  <% end %>
</form>