<p id = "currentItemOptions">
  <%= link_to "+ Add Item (To Root)", new_item_path %> <!-- set at the bottom of this page i guess -->
</p>

<form>
  <% @items.each do |child| %>
  <h2><%= link_to child.title, child %></h2> <!-- put checkbox here, class: inactive when inactive -->
  <div class = "itemOptions">
    <%= link_to '', edit_item_path(child), class: 'edit itemEdit', title: 'Edit' %>
  <a class = "set-email" href = "#" title = "Set Email Reminder" name="<%= child.id %>"></a> <!--todo umm do we need to put a hidden form for every child item? im sure theres a better way-->
  <a class = "delete itemDelete" href = "#" title = "Delete" %></a>
  </div>
  <p>
  <% #raw() needed to display html %>
  <%= raw(child.body) %>
  </p>
  <% child.triggers.each do |trigger| %>
  <p class = "emailReminder">Email to <% trigger.emails.each do |email| %><%= email.email %> at <%= trigger.date_trigger %></p>
  <div class = "emailOptions">
  <a class = "edit emailEdit" href = "#" title = "Edit"></a>
  <a class = "delete emailDelete" href = "#" title = "Delete"></a>
  </div>
  <% end %>
  <% end %>
  <% end %>
</form>