<h3>Adding New Item to Root</h3>

<%= form_for(:item, url: items_path, html: {id: "add-root-item-form"}) do |f| %>
  <%= f.label :title, 'Title:' %>
  <%= f.text_field :title %>

  <%= f.label :body, 'Body:' %>
  <%= f.text_field :body %>

  <%= f.label :task, 'Enable Complete/Incomplete status?' %>
  <%= f.check_box :task %>
  
  <%= hidden_field_tag 'item[pid]', params[:pid] %>

  <div class = "newFormOptions">
    <%= f.submit "Confirm item" %>
    <%= button_to "Clear", id: "add-root-item-clear" %>
    <%= button_to "Cancel", { action: "index" } %>
  </div>
<% end %>