<h3>Adding New Item to Root</h3>

<%= form_for(:item, url: items_path, html: {class: "formCSS"}) do |f| %>
  <%= f.label :title, 'Title:' %>
  <%= f.text_field :title, required: true, maxlength: 100 %>
  <%= f.label :body, 'Body:' %>
  <%= f.text_area :body, :placeholder => 'HTML tags are allowed!' %>
  <%= f.label :task, 'Set As Task?' %>
  <%= f.check_box :task %>
  <%= hidden_field_tag 'item[parent_id]', params[:parent_id] %>
  <div class="formOptions">
    <%= f.submit "Confirm Item", class: "button" %> 
	<%= f.submit "Clear", type: "reset", class: "button" %>
	<input type="button" class="button" value="Cancel" onClick="history.go(-1); return true;" />
  </div>
<% end %>