<p id="currentItemOptions">
  <%= link_to "+ Add Item", '#add-item-form', id: 'add-item' %> |
  <% if @item.parent_id.present? %>
    <a href="<%= @item.parent_id %>">Go Up</a>
  <% else %>
    <%= link_to "Go Up", items_path %>
  <% end %>
</p>

<div id="item<%= @item.id %>">  
  <h1><% if @item.task %><% if @item.complete %><%= link_to '', tick_box_item_path(@item.id), method: :put, class: 'itemCheckbox tick', title: 'Set As Incomplete' %><% else %><%= link_to '', tick_box_item_path(@item.id), method: :put, class: 'itemCheckbox', title: 'Set As Complete' %><% end %><% end %><%= @item.title %></h1>
  <div class="itemOptions">
    <%= link_to '', edit_item_path(@item.id), class: 'edit', title: 'Edit' %>
    <a class="set-email" href="#item<%= @item.id %>" title="Set Email Reminder" name="<%= @item.id %>"></a>
	<%= link_to '', item_path(@item.id), method: :delete, data: { confirm: 'Are you sure you want to delete this item? (All subchildren will also be deleted)' }, class: 'delete itemDelete', title: 'Delete' %>
  </div>
  <% unless @item.body.empty? %>
  <p><%= raw(@item.body) %></p>
  <% end %>
  <% unless @item.triggers.empty? %>
  <% @item.triggers.each do |trigger| %> 
  <% unless (trigger.date_trigger - 8.hours).to_date < Time.zone.today %>
  <p class="emailReminder">Email to <% trigger.emails.each_with_index do |email, n| %><% if n != 0 %>, <% end %><%= email.email %><% end %> on <%= (trigger.date_trigger - 8.hours).to_datetime.strftime("%d/%m/%Y %H:%M") %> AWST</p>
  <div class="emailOptions">
	<%= link_to '', {:controller => 'triggers', :action => 'destroy', :id => trigger.id}, method: :delete, data: { confirm: 'Are you sure you want to cancel this email reminder?' }, class: 'delete', title: 'Cancel' %>
  </div>
  <% end %>
  <% end %>
  <% end %>
</div>

<% @children.each do |child| %>
<div id="item<%= child.id %>" class="currentItemChildren">
  <h2><% if child.task %><% if child.complete %><%= link_to '', tick_child_box_item_path(child.id), method: :put, class: 'itemCheckbox tick', title: 'Set As Incomplete' %><% else %><%= link_to '', tick_child_box_item_path(child.id), method: :put, class: 'itemCheckbox', title: 'Set As Complete' %><% end %><% end %><%= link_to child.title, child %></h2>
  <div class="itemOptions">
    <%= link_to '', edit_item_path(child), class: 'edit', title: 'Edit' %>
    <a class="set-email" href="#item<%= child.id %>" title="Set Email Reminder" name="<%= child.id %>"></a>
    <%= link_to '', item_path(child.id), method: :delete, data: { confirm: 'Are you sure you want to delete this item? (All subchildren will also be deleted)' }, class: 'delete itemDelete' , title: 'Delete' %>
  </div>
  <% unless child.body.empty? %>
  <p><%= raw(child.body) %></p>
  <% end %>
  <% unless child.triggers.empty? %>
  <% child.triggers.each do |trigger| %> 
  <% unless (trigger.date_trigger - 8.hours).to_date < Time.zone.today %>
  <p class="emailReminder">Email to <% trigger.emails.each_with_index do |email, n| %><% if n != 0 %>, <% end %><%= email.email %><% end %> on <%= (trigger.date_trigger - 8.hours).to_datetime.strftime("%d/%m/%Y %H:%M") %> AWST</p>
  <div class="emailOptions">
    <%= link_to '', {:controller => 'triggers', :action => 'destroy', :id => trigger.id}, method: :delete, data: { confirm: 'Are you sure you want to cancel this email reminder?' }, class: 'delete', title: 'Cancel' %>
  </div>
  <% end %>
  <% end %>
  <% end %>
</div>

<% end %>
<%= form_for(:item, url: items_path, html: {id: "add-item-form"}) do |f| %>
  <%= f.label :title, 'Title:' %>
  <%= f.text_field :title, required: true, value: '', maxlength: 100 %>
  <%= f.label :body, 'Body:' %>
  <%= f.text_area :body, :placeholder => 'HTML tags are allowed!', value: '' %>
  <%= f.label :task, 'Set As Task?' %>
  <%= f.check_box :task %>
  <%= hidden_field_tag 'item[parent_id]', @item.id %>
  <div class="formOptions">
    <%= f.submit "Confirm Item", class: "button" %> 
	<%= f.submit "Clear", type: "reset", class: "button" %>
	<input type="button" class="button" value="Cancel" onClick="cancelItemForm();" />
  </div>
<% end %>


<%= form_tag({:controller => 'triggers', :action => 'create'}, {:id => "set-email-form"}) do %>
  <div id="leftEmailPane">
    <%= label_tag :datepicker, 'Date:' %>
    <%= text_field_tag (:datepicker), '', {required: true, pattern: '(0[1-9]|[12][0-9]|3[01])[- /.](0[1-9]|1[012])[- /.](19|20)\d\d'} %><small> 00:00 AWST</small>
    <%= label_tag :emailchildren, 'Send all subchildren too?' %>
    <%= check_box_tag 'emailchildren', '', false, disabled: true, title: 'Currently not implemented' %>
	<%= hidden_field_tag(:parent_id, "") %>
  </div>
  <div id="rightEmailPane">
    <%= label_tag :emailrecip, 'Recipients:' %>
    <%= collection_select(:trigger_email, :email_id, Email.all, :id, :email, {}, {multiple: true, required: true}) %>
  </div>
  <div class="formOptions">
    <%= submit_tag "Set Email Reminder", class: "button" %> 
	<%= submit_tag "Clear", type: "reset", class: "button" %>
	<input type="button" class="button" value="Cancel" onClick="cancelEmailForm();" />
  </div>
<% end %>
