<%= render 'hierachy' %>
  
<div id = "contentPane">
  <%= link_to "+ Add Item", new_item_path(:pid =>  @item.id) %>
  <br />

  <strong><%= @item.title %></strong>
  <br />
  <%= @item.body %>
  <br />
  <br />
  <% @item.triggers.each do |trigger| %>
      Send on <span style="color: red"><%= trigger.date_trigger %></span> to
      <br />
      <% trigger.emails.each do |email| %>
      <%= email.email %>
      <% end %>
  <% end %>
  <hr />
  <div style="padding-left: 20px">
  <% @children.each do |child| %>
      <%= child.title %>
      <br />
      <% #raw() needed to display html %>
      <%= raw(child.body) %>
      <br />
      <br />
      <% child.triggers.each do |trigger| %>
      Send on <span style="color: red"><%= trigger.date_trigger %></span> to
      <br />
      <% trigger.emails.each do |email| %>
      <%= email.email %>
      <% end %>
  <% end %>
  <hr />
  <% end %>
  </div>
</div>
