<p id="currentItemOptions">
  <%= link_to "+ Add Item", '#add-item-form', id: 'add-item' %> |
  <% if @item.parent_id.present? %>
    <a href="<%= @item.parent_id %>">Go Up</a>
  <% else %>
    <%= link_to "Go Up", items_path %>
  <% end %>
</p>

<form id="item<%= @item.id %>">
  <h1><% if @item.task %><input type="checkbox" class="itemCheckbox"<% if @item.complete %> checked<% end %> disabled /><% end %><%= @item.title %></h1>
  <div class="itemOptions">
    <%= link_to '', edit_item_path(@item.id), class: 'edit itemEdit', title: 'Edit' %>
    <a class="set-email" href="#" title="Set Email Reminder" name="<%= @item.id %>"></a>
    <%= link_to '', item_path(@item.id), method: :delete, data: { confirm: 'Are you sure you want to delete this item?' }, class: 'delete itemDelete', title: 'Delete' %>
  </div>
  <p><%= raw(@item.body) %></p>
  <% unless @item.triggers.empty? %>
  <% @item.triggers.each do |trigger| %> 
  <p class = "emailReminder">Email to <% trigger.emails.each_with_index do |email, n| %><% if n != 0 %>, <% end %><%= email.email %><% end %> on <%= trigger.date_trigger.strftime("%d/%m/%Y %H:%M") %> AWST</p>
  <div class = "emailOptions">
    <a class = "edit emailEdit" href = "#" title = "Edit"></a> <!-- TODO, edit email triggers -->
	<%= link_to '', {:controller => 'triggers', :action => 'destroy', :id => trigger.id}, method: :delete, data: { confirm: 'Are you sure you want to cancel this email reminder?' }, class: 'delete emailDelete', title: 'Delete' %>
  </div>
  <% end %>
  <% end %>
</form>

<% @children.each do |child| %>
<form id="item<%= child.id %>" class="currentItemChildren">
  <h2><% if child.task %><input type="checkbox" class="itemCheckbox"<% if child.complete %> checked<% end %> disabled /><% end %><%= link_to child.title, child %></h2>
  <div class="itemOptions">
    <%= link_to '', edit_item_path(child), class: 'edit itemEdit', title: 'Edit' %>
    <a class="set-email" href="#item<%= child.id %>" title="Set Email Reminder" name="<%= child.id %>"></a>
    <%= link_to '', item_path(child.id), method: :delete, data: { confirm: 'Are you sure you want to delete this item?' }, class: 'delete itemDelete', title: 'Delete' %>
  </div>
  <p><%= raw(child.body) %></p>
  <% unless child.triggers.empty? %>
  <% child.triggers.each do |trigger| %> 
  <p class = "emailReminder">Email to <% trigger.emails.each_with_index do |email, n| %><% if n != 0 %>, <% end %><%= email.email %><% end %> on <%= trigger.date_trigger.strftime("%d/%m/%Y %H:%M") %> AWST</p>
  <div class = "emailOptions">
    <a class = "edit emailEdit" href = "#" title = "Edit"></a> <!-- TODO, edit email triggers -->
    <%= link_to '', {:controller => 'triggers', :action => 'destroy', :id => trigger.id}, method: :delete, data: { confirm: 'Are you sure you want to cancel this email reminder?' }, class: 'delete emailDelete', title: 'Delete' %>
  </div>
  <% end %>
  <% end %>
</form>

<% end %>
<%= form_for(:item, url: items_path, html: {id: "add-item-form"}) do |f| %>
  <%= f.label :title, 'Title:' %>
  <%= f.text_field :title, required: true, value: '' %>
  <%= f.label :body, 'Body:' %>
  <%= f.text_area :body, required: true, :placeholder => 'HTML tags are allowed!', value: '' %>
  <%= f.label :task, 'Set As Task?' %>
  <%= f.check_box :task %>
  <%= hidden_field_tag 'item[parent_id]', @item.id %>
  <div class = "formOptions">
    <%= f.submit "Confirm Item", class: "button" %> 
	<%= f.submit "Clear", type: "reset", class: "button" %>
	<input type="button" class="button" value="Cancel" onClick="cancelItemForm();" />
  </div>
<% end %>


<%= form_tag({:controller => 'triggers', :action => 'create'}, {:id => "set-email-form"}) do %>
  <div id="leftEmailPane">
    <%= label_tag :datetimepicker, 'Date:' %>
    <%= text_field_tag (:datetimepicker), '', {required: true, pattern: '(0[1-9]|[12][0-9]|3[01])[- /.](0[1-9]|1[012])[- /.](19|20)\d\d\s\d\d:\d\d'} %><small> AWST</small>
    <%= label_tag :emailchildren, 'Send all subchildren too?' %>
    <%= check_box_tag(:emailchildren) %><%= hidden_field_tag(:parent_id, "") %>
  </div>
  <div id="rightEmailPane">
    <%= label_tag :emailrecip, 'Recipients:' %>
    <%= collection_select(:trigger_email, :email_id, Email.all, :id, :email, {}, {multiple: true, required: true}) %>
  </div>
  <div class = "formOptions">
    <%= submit_tag "Set Email Reminder", class: "button" %> 
	<%= submit_tag "Clear", type: "reset", class: "button" %>
	<input type="button" class="button" value="Cancel" onClick="cancelEmailForm();" />
  </div>
<% end %>
