<%= render 'hierachy' %>
  
<div id = "contentPane">
  <p id = "currentItemOptions">
    <%= link_to "+ Add Item", new_item_path(:pid =>  @item.id) %>
  </p>

  <h1><%= @item.title %></h1>
  <div class = "itemOptions">
	<a id = "edit" href = "#" title = "Edit"></a>
	<a id = "set-email" href = "#" title = "Set Email Reminder"></a>
  </div>
  <p><%= @item.body %></p>
  <% @item.triggers.each do |trigger| %>
    <p class = "emailReminder">Email to <% trigger.emails.each do |email| %><%= email.email %> at <%= trigger.date_trigger %></p>
    <% end %>
  <% end %>
  
  <form id = "currentItemChildren">
  <% @children.each do |child| %>
      <h2><%= child.title %></h2>
	  <p>
      <% #raw() needed to display html %>
      <%= raw(child.body) %>
      </p>
	  <% child.triggers.each do |trigger| %>
      <p class = "emailReminder">Email to <% trigger.emails.each do |email| %><%= email.email %> at <%= trigger.date_trigger %></p>
      <% end %>
  <% end %>
  <% end %>
  </form>
</div>