<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title> Club Process System - Swedish Club of WA </title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://code.jquery.com/jquery-1.10.1.min.js" %>
  <%= javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.js" %>
  <%= javascript_include_tag "jquery-ui-timepicker-addon" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <header>
      <div id="itemsTitleDiv">
        <%= link_to items_path do %><p id="title1">Swedish Club of WA</p>
        <p id="title2"><i>Club Process System</i></p><% end %>
      </div>
	  <div id="timeTab">The current time in Perth is <%= Time.now.strftime("%H:%M %d/%m/%Y") %></div>
      <div id="logoutTab">
        <p id="logout"><%= link_to "Log Out", signout_path, method: "delete" %></p>
      </div>
    </header>

    <div id="main">
	
<%= render 'items/hierachy' %>
      
      <div id="contentPane">
	  
<%= yield %>

      </div>
    </div>
  </div>
  <footer>
    <p>&copy; 2013 <%= link_to "Swedish Club of WA", "http://www.swedishclubofwa.org/", id: "footLink" %> - Website Created by CITS3200 Group G</p>
  </footer>
</body>
</html>